@use "../global" as *;

// はみ出し検証用
// * {
//   outline: 2px solid blue;
// }

.hidden-sp {
  display: none;
  @include mq(md) {
    display: inline-block;
  }
}

.hidden-pc {
  @include mq(md) {
    display: none;
  }
}

// .inline-block {
//   // 幅を小さくしたときに改行する位置を指定（htmlで）
//   display: inline-block;
// }

// // Intersection Observer用
// // デフォルトは非表示にしておく
// .fade-in-up {
//   opacity: 0;
//   transform: translateY(24px);
//   transition: opacity 1s, transform 1s;

//   &.is-in-view {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// .fade-in {
//   opacity: 0;
//   transition: opacity 1s;

//   &.is-in-view {
//     opacity: 1;
//   }
// }

/*!
mv
------------------------------
*/
.mv {
}

.mv__inner {
  position: relative;
}

.mv__img {
  @include mq(md) {
    max-width: 990px;
    // 右側に寄せる
    margin-left: auto;
    display: block;
  }
}

.mv__message {
  margin-top: 30px;

  @include mq(md) {
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    left: 0;
    padding: 80px 40px;
    background: var(--color-base);
    height: fit-content;
  }
}

.mv__title {
  font-size: 26px;
  font-weight: 600;
}

.mv__text {
  margin-top: 16px;
}

/*!
concept
------------------------------
*/
.concept {
}

.concept__inner {
}

.concept__title {
}

.concept__contents {
  display: flex;
  flex-direction: column;
  gap: 34px;

  @include mq(md) {
    flex-direction: row;
    align-items: center;
  }

  @include mq(lg) {
    gap: calc(80px / 1200px * 100%);
  }
}

.concept__image {
}

.concept__texts {
  display: flex;
  flex-direction: column;
  gap: 22px;

  @include mq(lg) {
    gap: 40px;
  }
}

.concept__text-main {
  font-size: 20px;
  font-weight: 600;
}

.concept__text-sub {
}

/*!
feature
------------------------------
*/
.feature {
}

.feature__inner {
}

.feature__title {
}

.feature__contents {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  @include mq(xl) {
    gap: 90px;
  }
}

.feature__item {
  background: var(--color-base);
  box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);

  @include mq(md) {
  }
}

.feature__image {
}

.feature__text {
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
  font-weight: 600;
}

/*!
question
------------------------------
*/
.question {
  margin-top: 96px;
  width: 100vw;
  background: url(../../images/bg-sp@2x.png) no-repeat top center / cover;
  color: var(--color-base);
  position: relative;
  z-index: 0;

  @include mq(md) {
    margin-top: 160px;
    background-image: url(../../images/bg-pc@2x.png);
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // inset: 0;
    content: "";
    background: rgba(0, 0, 0, 0.12);
    // z-index: -1;
    z-index: 1;
  }
}

.question__inner {
  padding: 180px 15px 50px 15px;
  position: relative;
  z-index: 2;

  @include mq(md) {
    padding: 123px 40px 122px 40px;
  }
}

.question__title {
  font-size: 20px;
  font-weight: 600;

  @include mq(md) {
    font-size: 22px;
  }
}

.question__text {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;

  @include mq(md) {
    font-size: 16px;
  }
}

/*!
products
------------------------------
*/
.products {
}

.products__inner {
  padding-inline: 56px;
  margin-left: auto;
  margin-right: auto;

  @include mq(md) {
    max-width: calc(940px + 40px * 2);
    padding-inline: 40px;
  }
}

.products__title {
}

.products__items {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mq(md) {
    flex-direction: row;
  }

  @include mq(lg) {
    gap: 80px;
  }
}

.products__item {
}

.products__link {
}

.products__image {
}

.products__texts {
  font-size: 14px;
  margin-top: 20px;

  @include mq(md) {
    margin-top: 18px;
  }
}

.products__name {
}

.products__price {
  margin-top: 10px;
  color: #989898;
}

.products__button {
  margin-top: 42px;

  @include mq(md) {
    margin-top: 44px;
  }
}

/*!
news
------------------------------
*/
.news {
}

.news__inner {
  @include mq(md) {
    max-width: calc(1040px + 40px * 2);
  }
}

.news__items {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @include mq(md) {
    gap: 24px;
  }
}

.news__item {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 28px;

  @include mq(md) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 24px;
  }

  @include mq(lg) {
    gap: 40px;
  }
}

.news__link {
}

.news__image {
  @include mq(md) {
    max-width: 32%;
  }

  @include mq(lg) {
    max-width: calc(260px / 1040px * 100%);
  }
}

.news__contents {
  margin-top: 16px;

  @include mq(md) {
    margin-top: 0;
  }
}

.news__time {
  font-size: 14px;
}

.news__title {
  margin-top: 10px;
  font-weight: 600;

  @include mq(md) {
    font-size: 18px;
    margin-top: 10px;
  }

  @include mq(lg) {
    margin-top: 16px;
  }
}

.news__excerpt {
  margin-top: 14px;
  font-size: 14px;
  color: #888;

  @include mq(md) {
    margin-top: 8px;
  }
  @include mq(lg) {
    margin-top: 10px;
  }
}

.news__button {
  margin-top: 48px;

  @include mq(md) {
    margin-top: 44px;
  }
}

/*!
motto
------------------------------
*/
.motto {
}

.motto__inner {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mq(md) {
    flex-direction: row-reverse;
    gap: 40px;
    align-items: center;
  }

  @include mq(lg) {
    gap: 80px;
  }
}

.motto__image {
}

.motto__texts {
}

.motto__title {
  font-size: 20px;
  font-weight: 600;

  @include mq(md) {
    font-size: 28px;
    white-space: nowrap;
  }
}

.motto__text {
  margin-top: 22px;
  font-size: 14px;

  @include mq(md) {
    margin-top: 12px;
    font-size: 16px;
  }
  @include mq(lg) {
    margin-top: 36px;
  }
}

/*!
contact
------------------------------
*/
.contact {
}

.contact__inner {
  background: url(../../images/contact_bg-sp@2x.png) no-repeat top center / cover;
  padding-top: 56px;
  padding-bottom: 56px;

  @include mq(md) {
    background-image: url(../../images/contact_bg-pc@2x.png);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.Contact__title {
  color: var(--color-main);
}

.contact__box {
  @include mq(md) {
    max-width: calc(510px + 40px * 2);
    padding-inline: 40px;
    margin-inline: auto;
  }
}

.contact__attention {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.contact__attention-tag {
  color: #e7728e;
}

.contact__form {
  margin-top: 28px;

  @include mq(md) {
    margin-top: 19px;
  }
}

.contact__fields {
}

.contact__field {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact__privacy {
  margin-top: 28px;
  font-size: 16px;

  @include mq(md) {
    margin-top: 32px;
    text-align: center;
  }
}

.contact__button {
  margin-top: 23px;

  @include mq(md) {
    margin-top: 44px;
  }
}
