@use "../global" as *;

// はみ出し検証用
// * {
//   outline: 2px solid blue;
// }

.hidden-sp {
  display: none;
  @include mq(md) {
    display: inline-block;
  }
}

.hidden-pc {
  @include mq(md) {
    display: none;
  }
}

// .inline-block {
//   // 幅を小さくしたときに改行する位置を指定（htmlで）
//   display: inline-block;
// }

// // Intersection Observer用
// // デフォルトは非表示にしておく
// .fade-in-up {
//   opacity: 0;
//   transform: translateY(24px);
//   transition: opacity 1s, transform 1s;

//   &.is-in-view {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// .fade-in {
//   opacity: 0;
//   transition: opacity 1s;

//   &.is-in-view {
//     opacity: 1;
//   }
// }

/*!
mv
------------------------------
*/
.mv {
  margin-left: auto;
  margin-right: auto;
}

.mv__inner {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;

  @include mq(md) {
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
    padding-left: 0;
    gap: 0;
    position: relative;
    max-width: calc(1200px + 40px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.mv__img {
  @include mq(md) {
  }
  & img {
    @include mq(md) {
      width: 990px;
      height: 660px;
    }
  }
}

.mv__content {
}

.mv__lead {
  @include mq(md) {
    padding: 80px 40px;
    background: var(--color-base);
  }
}

.mv__lead1,
.mv__lead2 {
  display: block;
}

.mv__lead1 {
  font-size: 26px;
  font-weight: 600;
}

.mv__lead2 {
  margin-top: 16px;
  white-space: nowrap;
}

/*!
concept
------------------------------
*/
.concept {
}

.concept__inner {
}

.concept__title {
}

.concept__contents {
  display: flex;
  flex-direction: column;
  gap: 34px;

  @include mq(md) {
    flex-direction: row;
    align-items: center;
  }

  @include mq(lg) {
    gap: calc(80px / 1200px * 100%);
  }
}

.concept__image {
}

.concept__texts {
  display: flex;
  flex-direction: column;
  gap: 22px;

  @include mq(lg) {
    gap: 40px;
  }
}

.concept__text-main {
  font-size: 20px;
  font-weight: 600;
}

.concept__text-sub {
}

/*!
feature
------------------------------
*/
.feature {
}

.feature__inner {
}

.feature__title {
}

.feature__contents {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  @include mq(xl) {
    gap: 90px;
  }
}

.feature__item {
  background: var(--color-base);
  box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);

  @include mq(md) {
  }
}

.feature__image {
}

.feature__text {
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
  font-weight: 600;
}

/*!
question
------------------------------
*/
.question {
  margin-top: 96px;
  width: 100vw;
  background: url(../../images/bg-sp@2x.png) no-repeat top center / cover;
  color: var(--color-base);
  position: relative;
  z-index: 0;

  @include mq(md) {
    margin-top: 160px;
    background-image: url(../../images/bg-pc@2x.png);
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // inset: 0;
    content: "";
    background: rgba(0, 0, 0, 0.12);
    // z-index: -1;
    z-index: 1;
  }
}

.question__inner {
  padding: 180px 15px 50px 15px;
  position: relative;
  z-index: 2;

  @include mq(md) {
    padding: 123px 40px 122px 40px;
  }
}

.question__title {
  font-size: 20px;
  font-weight: 600;

  @include mq(md) {
    font-size: 22px;
  }
}

.question__text {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;

  @include mq(md) {
    font-size: 16px;
  }
}

/*!
products
------------------------------
*/
.products {
}

.products__inner {
  padding-inline: 56px;
  margin-left: auto;
  margin-right: auto;

  @include mq(md) {
    max-width: calc(940px + 40px * 2);
    padding-inline: 40px;
  }
}

.products__title {
}

.products__items {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mq(md) {
    flex-direction: row;
  }

  @include mq(lg) {
    gap: 80px;
  }
}

.products__item {
}

.products__link {
}

.products__image {
}

.products__texts {
  font-size: 14px;
  margin-top: 20px;

  @include mq(md) {
    margin-top: 18px;
  }
}

.products__name {
}

.products__price {
  margin-top: 10px;
  color: #989898;
}

.products__button {
  margin-top: 42px;

  @include mq(md) {
    margin-top: 44px;
  }
}

/*!
news
------------------------------
*/
.news {
}

.news__inner {
  @include mq(md) {
    max-width: calc(1040px + 40px * 2);
  }
}

.news__items {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @include mq(md) {
    gap: 24px;
  }
}

.news__item {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 28px;

  @include mq(md) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 24px;
  }

  @include mq(lg) {
    gap: 40px;
  }
}

.news__link {
}

.news__image {
  @include mq(md) {
    max-width: 32%;
  }

  @include mq(lg) {
    max-width: calc(260px / 1040px * 100%);
  }
}

.news__contents {
  margin-top: 16px;

  @include mq(md) {
    margin-top: 0;
  }
}

.news__time {
  font-size: 14px;
}

.news__title {
  margin-top: 10px;
  font-weight: 600;

  @include mq(md) {
    font-size: 18px;
    margin-top: 10px;
  }

  @include mq(lg) {
    margin-top: 16px;
  }
}

.news__excerpt {
  margin-top: 14px;
  font-size: 14px;
  color: #888;

  @include mq(md) {
    margin-top: 8px;
  }
  @include mq(lg) {
    margin-top: 10px;
  }
}

.news__button {
  margin-top: 48px;

  @include mq(md) {
    margin-top: 44px;
  }
}

/*!
motto
------------------------------
*/
.motto {
}

.motto__inner {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mq(md) {
    flex-direction: row-reverse;
    gap: 40px;
    align-items: center;
  }

  @include mq(lg) {
    gap: 80px;
  }
}

.motto__image {
}

.motto__texts {
}

.motto__title {
  font-size: 20px;
  font-weight: 600;

  @include mq(md) {
    font-size: 28px;
    white-space: nowrap;
  }
}

.motto__text {
  margin-top: 22px;
  font-size: 14px;

  @include mq(md) {
    margin-top: 12px;
    font-size: 16px;
  }
  @include mq(lg) {
    margin-top: 36px;
  }
}

// .how-to-use {
//   padding-top: 60px;
//   padding-bottom: 60px;

//   @include mq(md) {
//     padding-top: 100px;
//     padding-bottom: 100px;
//   }
// }

// .how-to-use__inner {
// }

// .how-to-use__boxes {
//   margin-top: 104px;
//   display: flex;
//   flex-direction: column;
//   gap: 112px;

//   @include mq(md) {
//     margin-top: 89px;
//     gap: 75px;
//   }
// }

// .how-to-use__box {
//   border-radius: 30px;
//   background: #fffbf0;
//   padding: 54px 40px 48px;

//   @include mq(md) {
//     border-radius: 40px;
//     padding: 44px 10px 56px;
//   }
// }

// .how-to-use__box-title {
//   text-align: center;
//   font-size: 18px;
//   font-weight: 700;
//   letter-spacing: 1.8px;
//   // イラスト配置の起点として
//   position: relative;

//   @include mq(md) {
//     font-size: 22px;
//     letter-spacing: 2.2px;
//     // 画像サイズ + gap
//     padding-right: calc(85px + 10px);
//     width: fit-content;
//     margin: 0 auto;
//   }

//   & img {
//     position: absolute;
//     width: 85px;
//     // PCで右寄せになるのでright起点にする
//     right: 50%;
//     // rightを起点に中央寄せ
//     transform: translateX(50%);
//     // 下から100％（要素の一番上）+16px上に配置できる
//     bottom: calc(100% + 16px);

//     @include mq(md) {
//       right: 0;
//       transform: translateX(0);
//       bottom: 0;
//     }
//   }

//   .is-type2 & {
//     @include mq(md) {
//       padding-right: 0;
//       padding-left: 95px;

//       & img {
//         right: auto;
//         left: 0;
//       }
//     }
//   }
// }

// .how-to-use__steps {
//   margin-top: 20px;
//   display: flex;
//   flex-direction: column;
//   gap: 20px;

//   @include mq(md) {
//     flex-direction: row;
//     gap: 24px;
//     max-width: 948px;
//     margin-top: 40px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }

// .how-to-use__step {
//   // 3つ横並びなので100/3=33.3%
//   // gap24pxが2つあるので引き、3等分
//   // width: calc(33.3% - 24px * 2 / 3);
//   // flex:1でも同様（均等に並べたい要素に指定）
//   flex: 1;
// }

// .step-box {
//   padding-top: 45px;
//   position: relative;
// }

// .step-box__head {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   gap: 3px;
//   width: 90px;
//   height: 90px;
//   border-radius: 50%;
//   border: 3px solid var(--color-black);
//   background: var(--color-orange);
//   font-family: var(--font-family-en);
//   line-height: 1;
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);

//   .is-type2 & {
//     background-color: var(--color-yellow);
//   }
// }

// .step-box__head-text {
//   font-size: 13px;
//   font-weight: 700;
//   letter-spacing: 1.3px;
//   text-transform: uppercase;
// }

// .step-box__head-number {
//   color: var(--color-white);
//   font-size: 34px;
//   font-weight: 700;
//   letter-spacing: 3.4px;
// }

// .step-box__body {
//   border-radius: 30px;
//   border: 3px solid var(--color-black);
//   background: var(--color-white);
//   // 枠の上部が表示されるように
//   overflow: hidden;
//   padding: 50px 10px 26px;
//   text-align: center;
// }

// .step-box__image {
//   & img {
//     width: 160px;

//     @include mq(md) {
//       width: 200px;
//     }
//   }
// }

// .step-box__text {
//   font-weight: 700;
//   letter-spacing: 0.48px;
//   margin-top: 10px;
// }

// /*!
// merit
// ------------------------------
// */
// .merit {
//   padding-top: 60px;
//   padding-bottom: 60px;

//   @include mq(md) {
//     padding-top: 100px;
//     padding-bottom: 100px;
//   }
// }

// .merit__inner {
// }

// .merit__title {
// }

// .merit__boxes {
//   margin-top: 30px;
//   display: flex;
//   flex-direction: column;
//   gap: 30px;

//   @include mq(md) {
//     margin-top: 60px;
//     gap: 40px;
//   }
// }

// .merit__box {
// }

// .merit-box {
//   background-color: var(--color-white);
//   border-radius: 20px;
//   padding: 10px 20px 24px;
// }

// .merit-box__content {
//   @include mq(md) {
//     padding: 20px 16px;
//     display: flex;
//     align-items: center;
//     flex-direction: row-reverse;
//     gap: 50px;
//     max-width: 920px;
//     margin: 0 auto;
//   }

//   .is-reverse & {
//     @include mq(md) {
//       flex-direction: row;
//     }
//   }
// }

// .merit_box__img {
//   text-align: center;

//   @include mq(md) {
//     width: calc(350px / 920px * 100%);
//   }

//   & img {
//     width: 200px;

//     @include mq(md) {
//       width: 350px;
//     }
//   }
// }

// .merit-box__body {
//   margin-top: 18px;

//   @include mq(md) {
//     width: calc(520px / 920px * 100%);
//     margin-top: 0;
//   }
// }

// .merit-box__head {
//   display: flex;
//   align-items: center;
//   gap: 14px;
//   font-family: var(--font-family-en);

//   @include mq(md) {
//     gap: 28px;
//   }
// }

// .merit-box__number {
//   color: var(--color-yellow);
//   font-size: 70px;
//   font-weight: 600;
//   line-height: 1;

//   @include mq(md) {
//     font-size: 110px;
//   }
// }

// .merit-box__title {
//   font-size: 16px;
//   font-weight: 700;
//   letter-spacing: 1.6px;

//   @include mq(md) {
//     font-size: 20px;
//     letter-spacing: 2px;
//   }
// }

// .merit-box__text {
//   font-size: 14px;
//   line-height: 2;
//   margin-top: 10px;

//   @include mq(md) {
//     font-size: 15px;
//     margin-top: 16px;
//   }
// }

// /*!
// cta
// ------------------------------
// */
// .cta {
//   background: var(--color-gradation);
//   text-align: center;
//   padding-top: 50px;
//   padding-bottom: 50px;

//   @include mq(md) {
//     padding-top: 60px;
//     padding-bottom: 60px;
//   }
// }

// .cta__inner {
// }

// .cta__text {
//   font-weight: 700;
//   line-height: 2;
//   letter-spacing: 0.48px;

//   @include mq(md) {
//     font-size: 18px;
//     letter-spacing: 0.54px;
//   }
// }

// .cta__button {
//   margin-top: 16px;
// }

// /*!
// compare
// ------------------------------
// */
// .compare {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background-color: var(--color-white);

//   @include mq(md) {
//     padding-top: 100px;
//     padding-bottom: 100px;
//   }
// }

// .compare__inner {
// }

// .compare__title {
//   font-size: 20px;
//   font-weight: 700;
//   line-height: 1;
//   text-align: center;

//   @include mq(md) {
//     font-size: 24px;
//   }
// }

// .compare__content {
//   margin-top: 42px;
//   // 画面内に入りきらない分はスクロールする
//   overflow-x: auto;
//   padding-bottom: 38px;

//   @include mq(md) {
//     margin-top: 60px;
//     padding-bottom: 0;
//   }
// }

// .compare__table {
//   width: 620px;
//   // テーブルセルのサイズを均等に表示（幅を指定しないセルだけ）
//   table-layout: fixed;
//   margin-left: auto;
//   margin-right: auto;

//   @include mq(md) {
//     width: 1000px;
//   }

//   th,
//   td {
//     text-align: center;
//     font-weight: 700;
//     height: 60px;
//     // テキストを上下中央揃えに
//     vertical-align: middle;

//     @include mq(md) {
//       height: 100px;
//     }

//     &:nth-child(1) {
//       width: 130px;

//       @include mq(md) {
//         width: 250px;
//       }
//     }

//     &:nth-child(2) {
//       width: 90px;
//       background: #fff9e5;
//       font-size: 16px;
//       letter-spacing: 0.48px;

//       @include mq(md) {
//         width: 250px;
//         font-size: 25px;
//         letter-spacing: 0.75px;
//       }

//       img {
//         width: 70px;

//         @include mq(md) {
//           width: 123px;
//         }
//       }
//     }
//   }

//   thead th {
//     letter-spacing: 1.6px;

//     @include mq(md) {
//       letter-spacing: 2px;
//     }
//   }

//   tbody {
//     tr {
//       border-top: 1.5px solid var(--color-black);

//       @include mq(md) {
//         border-top: 3px solid var(--color-black);
//       }
//     }

//     th,
//     td {
//       height: calc(60px - 1.5px);

//       @include mq(md) {
//         height: 100px;
//       }
//     }
//   }

//   th {
//     letter-spacing: 0.48px;

//     @include mq(md) {
//       font-size: 20px;
//       letter-spacing: 0.6px;
//     }
//   }

//   td {
//     font-size: 14px;
//     letter-spacing: 0.42px;

//     @include mq(md) {
//       font-size: 16px;
//       letter-spacing: 0.48px;
//     }
//   }
// }

// .compare__attention {
//   margin-top: 11px;
//   color: #686868;
//   font-size: 14px;
//   font-weight: 700;
//   line-height: 1;
//   text-align: center;

//   @include mq(md) {
//     display: none;
//   }
// }

// /*!
// qa
// ------------------------------
// */
// .qa {
//   padding-top: 60px;
//   padding-bottom: 60px;

//   @include mq(md) {
//     padding-top: 100px;
//     padding-bottom: 100px;
//   }
// }

// .qa__inner {
//   @include mq(md) {
//     // 画面幅を小さくした時の左右余白
//     padding-left: 30px;
//     padding-right: 30px;
//     max-width: calc(800px + 30px * 2);
//   }
// }

// .qa__title {
// }

// .qa__boxes {
//   margin-top: 52px;
//   display: flex;
//   flex-direction: column;
//   gap: 42px;

//   @include mq(md) {
//     margin-top: 74px;
//   }
// }

// .qa__box {
// }

// .qa-box {
//   border-radius: 10px;
//   border: 3px solid var(--color-black);

//   // アコーディオンが開いている時
//   &.is-open {
//     // arrow icon
//     .qa-box__head::after {
//       transform: rotate(0deg);
//     }
//   }
// }

// .qa-box__head {
//   // borderの幅分を引いて余白を調整
//   padding: calc(32px - 3px) calc(40px - 3px) calc(20px - 3px) calc(15px - 3px);
//   position: relative;
//   display: block;
//   width: 100%;

//   @include mq(md) {
//     padding: calc(32px - 3px) calc(80px - 3px) calc(20px - 3px) calc(20px - 3px);
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     right: 16px;
//     width: 9.26px;
//     height: 6.834px;
//     background: url(../../images/qa-arrow.png) no-repeat center center / contain;
//     transform: rotate(180deg);

//     @include mq(md) {
//       right: 22px;
//     }
//   }
// }

// .qa-box__head-icon {
//   font-family: var(--font-family-en);
//   font-size: 22px;
//   font-weight: 700;
//   line-height: 1;
//   // letter-spacingでずれた分を修正（スペースが文字の右側にできるため）
//   letter-spacing: 2.2px;
//   text-indent: 2.2px;
//   width: 44px;
//   height: 44px;
//   border-radius: 22px;
//   border: 3px solid var(--color-black);
//   background: var(--color-orange);
//   // 上下左右中央揃え
//   display: grid;
//   place-items: center;
//   position: absolute;
//   top: -26px;
//   left: 12px;

//   @include mq(md) {
//     left: 20px;
//   }
// }

// .qa-box__head-text {
//   display: block;
//   text-align: left;
//   font-size: 14px;
//   font-weight: 700;
//   letter-spacing: 1.12px;

//   @include mq(md) {
//     font-size: 16px;
//     line-height: 27px;
//     letter-spacing: 1.28px;
//   }
// }

// .qa-box__body {
//   // .qa-box__headで削った分3pxを上paddingに足す
//   padding: calc(10px + 3px) calc(17px - 3px) calc(20px - 3px) calc(15px - 3px);
//   display: none;

//   @include mq(md) {
//     padding: calc(0px + 3px) calc(36px - 3px) calc(20px - 3px) calc(20px - 3px);
//   }
// }

// .qa-box__a {
//   display: flex;
//   gap: 8px;

//   @include mq(md) {
//     gap: 10px;
//   }
// }

// .qa-box__a-icon {
//   font-family: var(--font-family-en);
//   font-size: 22px;
//   font-weight: 700;
//   line-height: 1;
//   letter-spacing: 2.2px;
//   text-indent: 2.2px;
//   width: 44px;
//   height: 44px;
//   border-radius: 22px;
//   border: 3px solid var(--color-black);
//   background: var(--color-yellow);
//   // 上下左右中央揃え
//   display: grid;
//   place-items: center;
//   // flexで自動で潰れないように
//   flex-shrink: 0;
// }

// .qa-box__a-text {
//   display: block;
//   font-size: 14px;
//   font-weight: 700;
//   letter-spacing: 1.12px;
//   // flexの残りの空間を全て使うように
//   flex-grow: 1;
//   padding-top: 8px;

//   @include mq(md) {
//     font-size: 16px;
//     line-height: 27px;
//     letter-spacing: 1.28px;
//   }
// }

// /*!
// gallery
// ------------------------------
// */
// .gallery {
//   padding-top: 60px;
//   padding-bottom: 60px;

//   @include mq(md) {
//     padding-top: 100px;
//     padding-bottom: 100px;
//   }
// }

// .gallery__inner {
//   @include mq(md) {
//     padding-left: 30px;
//     padding-right: 30px;
//     max-width: calc(800px + 30px * 2);
//   }
// }

// .gallery__title {
// }

// .gallery__slider {
//   margin-top: 30px;

//   @include mq(md) {
//     margin-top: 60px;
//   }
// }

// .gallery__swiper {
//   // 枠からページネーションの距離16px + ページネーションの高さ10px
//   padding-bottom: calc(16px + 10px);
//   padding-left: 5px;
//   padding-right: 5px;
//   z-index: 0;

//   @include mq(md) {
//     padding-left: calc(20px + 50px);
//     padding-right: calc(20px + 50px);
//   }
// }

// .gallery__slide {
// }

// .gallery-card {
//   border-radius: 20px;
//   border: 3px solid var(--color-black);
//   background: var(--color-white);
//   box-shadow: 0px 9px 30px 0px #f4f4f4;
//   padding: 15px 15px 11px 15px;

//   @include mq(md) {
//     border-radius: 30px;
//     padding: 20px 20px 18px 20px;
//   }
// }

// .gallery-card__image {
//   text-align: center;
//   & img {
//     border-radius: 10px;

//     @include mq(md) {
//       border-radius: 20px;
//     }
//   }
// }

// .gallery-card__text {
//   margin-top: 11px;
//   text-align: center;
//   font-size: 14px;

//   @include mq(md) {
//     margin-top: 18px;
//     font-size: 16px;
//   }
// }

// .gallery__pagination {
//   display: flex;
//   justify-content: center;
//   gap: 12px;
//   bottom: 0 !important;
// }

// .swiper-pagination-bullet {
//   width: 10px;
//   height: 10px;
//   margin-left: 0 !important;
//   margin-right: 0 !important;
//   background: #bcbcbc;
//   opacity: 1;

//   &.swiper-pagination-bullet-active {
//     background: var(--color-yellow);
//   }
// }

// .gallery__prev,
// .gallery__next {
//   width: 40px;
//   height: 40px;
//   margin-top: -40px;

//   @include mq(md) {
//     width: 50px;
//     height: 50px;
//   }

//   &::after {
//     // swiperデフォルトの矢印を削除
//     display: none;
//   }
// }

// .gallery__prev {
//   left: 0;
//   background: url(../../images/prev-icon.png) no-repeat center center / contain;
// }

// .gallery__next {
//   right: 0;
//   background: url(../../images/next-icon.png) no-repeat center center / contain;
// }

// /*!
// contact
// ------------------------------
// */

// .contact {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background: url(../../images/section-bg.jpg) repeat top left / 529px auto;

//   @include mq(md) {
//     padding-top: 100px;
//     padding-bottom: 100px;
//   }
// }

// .contact__inner {
// }

// .contact__box {
//   border-radius: 30px;
//   background: var(--color-white);
//   padding: 60px 20px;

//   @include mq(md) {
//     // レスポンシブ時に影響ない範囲でパディング確保
//     padding-left: 30px;
//     padding-right: 30px;
//   }
// }

// .contact__title {
// }

// .contact__form {
//   margin-top: 30px;

//   @include mq(md) {
//     margin-top: 50px;
//     // レスポンシブ崩れ防止用
//     max-width: 612px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }

// .contact__fields {
//   display: flex;
//   flex-direction: column;
//   gap: 30px;
// }

// .contact__field {
// }

// .contact__privacy {
//   margin-top: 30px;
//   text-align: center;
// }

// .contact__button {
//   margin-top: 30px;
//   text-align: center;

//   @include mq(md) {
//     margin-top: 38px;
//   }
// }

// /*!
// form-field（フォーム内パーツ）
// ------------------------------
// */
// .form-field {
//   @include mq(md) {
//     display: flex;
//     gap: 32px;
//   }
// }

// .form-field__head {
//   font-weight: 700;
//   display: flex;
//   align-items: center;
//   gap: 10px;

//   @include mq(md) {
//     // gap分を引いた幅
//     width: calc(212px - 32px);
//     // 指定した幅より小さくしない
//     flex-shrink: 0;
//     justify-content: flex-end;
//   }
// }

// .form-field__label {
//   line-height: calc(23px / 16px); // 23px
// }

// .form-field__tag {
//   border-radius: 2px;
//   background: #ee8013;
//   display: inline-block;
//   padding: 6px 8px 5px 8px;
//   font-size: 11px;
//   line-height: 1;
//   letter-spacing: 1.98px;
//   color: var(--color-white);

//   &.is-option {
//     background: #43b549;
//   }
// }

// .form-field__item {
//   margin-top: 14px;
//   // flexで並べた要素の残りの幅全てを確保
//   flex-grow: 1;

//   @include mq(md) {
//     margin-top: 0;
//   }
// }

// .form-field__radios {
//   display: flex;
//   flex-direction: column;
//   gap: 18px;

//   @include mq(md) {
//     flex-direction: row;
//     gap: 30px;
//   }
// }
