:root {
  --font-family-base: "Noto Serif JP", serif;

  // font
  --font-size-base: 16px;
  --line-height-base: 1.7;

  // color
  --color-main: #3ea1d1;
  --color-base: #ffffff;
  --color-font: #333333;

  // inner
  --width-inner: 1200px;
}
