@use "../global" as *;

/*!
layout > container
------------------------------
*/

.section {
  padding-top: 95px;

  @include mq(md) {
    padding-top: 160px;
  }
}

.inner{
  padding-inline: 15px;


  @include mq(md) {
    padding-left: 40px;
    padding-right: 40px;
    max-width: calc(var(--width-inner) + 40px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.contents-top{
  margin-top: calc(46px + 28px);

  @include mq(md) {
    margin-top: calc(64px + 24px);
  }
}