@use "../global" as *;

/*!
layout > header
------------------------------
*/
.header {
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  background: var(--color-base);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 15px;

  @include mq(md) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 24px;
    max-width: calc(var(--width-inner) + 40px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.header__logo {
  & img {
    width: 120px;
    display: block;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}

.header__nav {
  display: none;

  @include mq(md) {
    display: flex;
    align-items: center;
    gap: 46px;
  }
}

.header__link {
  transition: color 0.3s;

  &:hover {
    color: var(--color-main);
  }
}

.drawer-icon {
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 51;

  @include mq(md) {
    display: none;
  }

  &.is-checked {
    .drawer-icon__bar {
      // background: var(--color-base);
      &:nth-of-type(1) {
        top: 11px;
        transform: rotate(44.904deg);
      }

      &:nth-of-type(2) {
        display: none;
      }

      &:nth-of-type(3) {
        top: 11px;
        transform: rotate(-44.89deg);
      }
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: var(--color-main);
  transition: transform 0.3s linear, top 0.3s linear;

  &:nth-of-type(1) {
    top: 0;
  }

  &:nth-of-type(2) {
    top: 8px;
  }

  &:nth-of-type(3) {
    top: 16px;
  }
}

// /*!
// layout > header > drawer
// ------------------------------
// */
.drawer-panel {
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 50;
  width: 270px;
  height: 100vh;
  padding: 40px 15px;
  background: var(--color-main);
  // 100%画面外に配置
  transform: translateX(100%);
  transition: transform 0.3s linear;

  &.is-checked {
    transform: translateX(0);
  }
}

.drawer-content-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.drawer-content__link {
  text-align: right;
  font-size: 18px;
  color: var(--color-base);
}
