@use "../global" as *;

/*!
layout > header
------------------------------
*/
.header {
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 15px;

  @include mq(md) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 24px;
    max-width: calc(var(--width-inner) + 40px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.header__logo {
  width: 120px;
  height: 22px;
}

// .header__logo {
//   @include mq(md) {
//     padding-top: 6px;
//   }

//   a {
//     img {
//       width: 100px;
//       display: block;

//       @include mq(md) {
//         width: 135px;
//       }
//     }
//   }
// }

.header__nav {
  display: none;

  @include mq(md) {
    display: flex;
    align-items: center;
    gap: 46px;
  }
}

.header__link {
}

// .header__link {
//   font-weight: 700;
//   letter-spacing: 0.48px;
//   transition: color 0.3s;

//   &:hover {
//     color: var(--color-orange);
//   }
// }

.header__open {
}

// .header__open {
//   margin-top: 3px;

//   @include mq(md) {
//     display: none;
//   }
// }

.drawer-icon {
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 51;
}

// .drawer-icon {
//   width: 36px;
//   height: 21px;
//   position: relative;
//   z-index: 51;

//   // アイコンがクリックされた時×になる
// &.is-checked {
//   .drawer-icon__bar {
//     &:nth-of-type(1) {
//       // 回転の起点をアイコンの真ん中（アイコンサイズが21pxなので上から10px付近）にする
//       top: 10px;
//       transform: rotate(30deg);
//     }

//     &:nth-of-type(2) {
//       display: none;
//     }

//     &:nth-of-type(3) {
//       // 回転の起点をアイコンの真ん中にする
//       top: 10px;
//       transform: rotate(-30deg);
//     }
//   }
// }
// }

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: var(--color-main);
  //   // transformとtopプロパティにアニメーションを適用
  //   transition: transform 0.3s linear, top 0.3s linear;

  &:nth-of-type(1) {
  }

  &:nth-of-type(2) {
    top: 6px;
  }

  &:nth-of-type(3) {
    top: 12px;
  }
}

// .drawer-icon__bar {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 36px;
//   height: 3px;
//   border-radius: 6px;
//   background: var(--color-black);

//   &:nth-of-type(1) {
//   }

//   &:nth-of-type(2) {
//     top: 9px;
//   }

//   &:nth-of-type(3) {
//     top: 18px;
//   }
// }

// /*!
// layout > header > drawer
// ------------------------------
// */
// .drawer-content {
//   width: 320px;
//   height: 100%;
//   position: fixed;
//   top: 0;
//   right: 0;
//   background: #f7ba1a;
//   z-index: 50;
//   padding: 86px 40px 40px;
//   // 初期は画面外に移動
//   transform: translateX(100%);
//   transition: transform 0.3s linear;

//   &.is-checked {
//     transform: translateX(0);
//   }
// }

// .drawer-content-menu {
// }

// .drawer-content__link {
//   display: block;
//   padding-top: 14px;
//   padding-bottom: 14px;
//   text-align: right;
//   font-weight: 700;
//   line-height: 1.7;
//   letter-spacing: 0.48px;
// }

// .drawer-content__button {
//   margin-top: 14px;
//   text-align: right;
// }
